<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentUtilitiesSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="PaymentUtilitiesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://202.191.196.210/UAT/PaymentUtilitiesService/PaymentUtilities.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentUtilitiesSoap"
                contract="HDFCServiceReference.PaymentUtilitiesSoap" name="PaymentUtilitiesSoap" />
            <endpoint address="http://202.191.196.210/UAT/PaymentUtilitiesService/PaymentUtilities.asmx"
                binding="customBinding" bindingConfiguration="PaymentUtilitiesSoap12"
                contract="HDFCServiceReference.PaymentUtilitiesSoap" name="PaymentUtilitiesSoap12" />
        </client>
    </system.serviceModel>
</configuration>